/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    background: #3882F6;
    border: 1px solid #088030;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    font-weight: bold;

}

.square {
    height: 16px;
    width: 16px;
    background: rgb(34, 148, 214);
    border: 1px solid #a52a2a;
}